aenum==3.1.15
alembic==1.15.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
atpublic==5.1
avalanche-lib==0.6.0
blessed==1.21.0
clarabel==0.10.0
cmeel==0.57.1
colorlog==6.9.0
comm==0.2.2
cvxopt==1.3.2
daqp==0.6.0
debugpy==1.8.5
decorator==5.1.1
diffdist==0.1
docker-pycreds==0.4.0
docstring_parser==0.16
ecos==2.0.14
executing==2.0.1
gdown==5.2.0
gpustat==1.1.1
GPUtil==1.4.0
highspy==1.9.0
hydra-core==1.3.2
imgaug==0.4.0
ipykernel==6.29.5
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
lightly==1.5.20
lightly-utils==0.0.2
lightning-utilities==0.12.0
loguru==0.7.3
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
nngeometry==0.3
nvidia-ml-py==12.575.51
omegaconf==2.3.0
opencv-python==4.11.0.86
-e git+https://github.com/Jingkang50/OpenOOD@24fbf90f74ede00ea2a3f2f3c85e3b3800ac3e30#egg=openood
optuna==4.4.0
osqp==0.6.7.post3
parso==0.8.4
pexpect==4.9.0
piqp==0.4.2
POT==0.9.5
proxsuite==0.7.1
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.0.post0
pytorchcv==0.0.73
pyzmq==26.1.0
qdldl==0.1.7.post5
qpalm==1.2.5
qpax==0.0.9
qpsolvers==4.4.0
quadprog==0.1.13
safetensors==0.5.2
scs==3.2.7.post2
setproctitle==1.3.5
shapely==2.1.0
simple-parsing==0.1.7
six==1.16.0
stack-data==0.6.3
torchmetrics==1.6.1
tornado==6.4.1
traitlets==5.14.3
typeguard==4.4.4
wcwidth==0.2.13
