avalanche-lib
jsonnet
omegaconf
pydantic
transformers

mypy
ruff
setproctitle

optuna
PyMySQL

torch
torchvision
matplotlib
loguru
seaborn
typeguard
zeus

fastparquet
ipykernel

# bnn
git+https://github.com/microsoft/bayesianize.git@6aab95e

psycopg[binary]