avalanche-lib
omegaconf
pydantic
transformers

mypy
ruff
setproctitle

optuna
PyMySQL

torch
torchvision
matplotlib
loguru
seaborn

# install from https://github.com/microsoft/bayesianize.git
git+https://github.com/microsoft/bayesianize.git
