#!/bin/bash -e
#SBATCH --job-name=hp_{{dataset}}_{{method}}
#SBATCH --time=12:00:00
#SBATCH --mem=8GB
#SBATCH --cpus-per-task=4
#SBATCH --gpus-per-node=L4:1
#SBATCH --output=log/hp_{{dataset}}_{{method}}_%a.log
#SBATCH --array=0-0

export PATH=$NESI_PYVENV/bayescl/bin:$PATH

set -x # Echo commands to stdout
set -e # Exit on error

python main.py -c configs/{{dataset}}/{{method}}.jsonnet hpsearch hp
